{% extends 'base.html' %}
{% load static %}
{% block title %}
<a class="navbar-brand"  href="{% url 'request_history' %}">New requests {{ requests_number }}</a>
{% endblock %}


{% block content %}
    <div style="margin: 4%;font-size: 150%;">
      <h1 id="new" style="margin-left: 40%">Hello world</h1>
      <p><strong>Name</strong> : {{ my_instanse.name }}</p>
      <p><strong>Surname</strong> : {{ my_instanse.surname }}</p>
      <p><strong>Contact</strong> : {{ my_instanse.contacts }}</p>
      <p><strong>About me</strong> :{{ my_instanse.bio }}</p>
      <p><strong>Date of birth</strong> : {{ my_instanse.birthday }}</p>
      {% comment %}
      <form action="{% url 'request_history' %}">
        <input type="submit" name="To request" value="To request {{ requests_number }}">
      </form>
      {% endcomment %}
    </div>
{% endblock %}