{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="my_registration" class="table_vidstyp">
<h1>Registration</h1>
<form id="my_registration_form" class="form-horizontal" method="POST">
{% csrf_token %}
{{form.as_p}}
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Registration</button>
  </div>
</form>
    <script src="{% static "bootstrap/js/jQuery.js" %}"></script>
    <script src="{% static "js/My_script.js" %}"></script>
</div>

{% endblock %} 